Repository tronprotocol/java-tron, pull requests merged in 2023-09, with the labels that each got.

#5496 feat(api): change log level from error to warn for url parsing
  framework/src/main/java/org/tron/core/services/filter/HttpApiAccessFilter.java
Labels: topic: gRPC/HTTP api, topic:Log, area:http

#5483 feat(http): optimize parameter parsing
  framework/src/main/java/org/tron/core/services/http/Util.java
  framework/src/test/java/org/tron/core/services/http/GetBrokerageServletTest.java
  framework/src/test/java/org/tron/core/services/http/GetRewardServletTest.java
Labels: type: Enhancement, topic: gRPC/HTTP api, area:http

#5475 feat(config): update jacoco config
  actuator/build.gradle
  chainbase/build.gradle
  common/build.gradle
  consensus/build.gradle
  crypto/build.gradle
  framework/build.gradle
  plugins/build.gradle
Labels: area:CI

#5463 test(db): add test for db
  framework/src/test/java/org/tron/core/db/AccountAssetStoreTest.java
  framework/src/test/java/org/tron/core/db/AssetIssueStoreTest.java
  framework/src/test/java/org/tron/core/db/AssetIssueV2StoreTest.java
  framework/src/test/java/org/tron/core/db/ContractStoreTest.java
  framework/src/test/java/org/tron/core/db/DelegatedResourceStoreTest.java
  framework/src/test/java/org/tron/core/db/DelegationStoreTest.java
  framework/src/test/java/org/tron/core/db/WitnessScheduleStoreTest.java
Labels: area:test

#5499 feat(db/checkPointV2Store): change log level from info to debug
  chainbase/src/main/java/org/tron/core/store/CheckPointV2Store.java
Labels: topic:Log, area:db

#5501 fix(test\db): fix wrong output path
  framework/src/test/java/org/tron/core/db/AccountAssetStoreTest.java
  framework/src/test/java/org/tron/core/db/AssetIssueStoreTest.java
  framework/src/test/java/org/tron/core/db/AssetIssueV2StoreTest.java
  framework/src/test/java/org/tron/core/db/ContractStoreTest.java
  framework/src/test/java/org/tron/core/db/DelegatedResourceStoreTest.java
  framework/src/test/java/org/tron/core/db/DelegationStoreTest.java
  framework/src/test/java/org/tron/core/db/WitnessScheduleStoreTest.java
Labels: type:bug, area:test

#5500 fix(event/mechanism): fix NPE in TransactionLogTriggerCapsule
  framework/src/main/java/org/tron/common/logsfilter/capsule/TransactionLogTriggerCapsule.java
  framework/src/test/java/org/tron/common/logsfilter/TransactionLogTriggerCapsuleTest.java
Labels: type:bug, topic: Event subscribe

#5502 feat(api): add http/grpc interface rate limit
  common/src/main/java/org/tron/common/parameter/CommonParameter.java
  common/src/main/java/org/tron/core/Constant.java
  framework/src/main/java/org/tron/core/config/args/Args.java
  framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java
  framework/src/main/java/org/tron/core/services/ratelimiter/RateLimiterInterceptor.java
  framework/src/main/java/org/tron/core/services/ratelimiter/adapter/GlobalPreemptibleAdapter.java
  framework/src/main/java/org/tron/core/services/ratelimiter/strategy/QpsStrategy.java
  framework/src/test/java/org/tron/common/config/args/ArgsTest.java
  framework/src/test/java/org/tron/core/net/peer/PeerConnectionTest.java
  framework/src/test/java/org/tron/core/net/peer/PeerManagerTest.java
  framework/src/test/resources/config-test.conf
Labels: topic: gRPC/HTTP api

#5505 fix(db/trans-cache): avoid recovering a wrong cached data
  chainbase/src/main/java/org/tron/core/db/TransactionCache.java
  chainbase/src/main/java/org/tron/core/db2/common/TxCacheDB.java
  framework/src/main/java/org/tron/core/config/DefaultConfig.java
  framework/src/main/java/org/tron/core/db/Manager.java
  framework/src/test/java/org/tron/core/db/TxCacheDBInitTest.java
Labels: type:bug, area:db

#5461 test(db): add test for db
  framework/src/test/java/org/tron/common/storage/leveldb/LevelDbDataSourceImplTest.java
  framework/src/test/java/org/tron/common/storage/leveldb/RocksDbDataSourceImplTest.java
  framework/src/test/java/org/tron/core/db/AbiStoreTest.java
  framework/src/test/java/org/tron/core/db/AccountTraceStoreTest.java
  framework/src/test/java/org/tron/core/db/BalanceTraceStoreTest.java
  framework/src/test/java/org/tron/core/db/CodeStoreTest.java
  framework/src/test/java/org/tron/core/db/DelegatedResourceAccountIndexStoreTest.java
Labels: area:test

#5494 test(net): add unit test for peer connection
  framework/src/main/java/org/tron/core/net/peer/PeerConnection.java
  framework/src/test/java/org/tron/core/net/peer/PeerConnectionTest.java
  framework/src/test/java/org/tron/core/net/peer/PeerManagerTest.java
  framework/src/test/java/org/tron/core/net/services/TronStatsManagerTest.java
Labels: area:test
